/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    font-family:Arial,sans-serif;

    background:#5375b8;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}

/* Container */

.container{

    width:100%;
    max-width:450px;

    background:#cf7878;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 15px rgba(0,0,0,0.1);

}

/* Heading */

h1{

    text-align:center;

    margin-bottom:25px;

    color:#1f2937;

}

/* Form */

form{

    display:flex;

    gap:10px;

}

/* Input */

input{

    flex:1;

    padding:12px;

    border:1px solid #d1d5db;

    border-radius:5px;

    outline:none;

    font-size:16px;

}

/* Button */

button{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 18px;

    border-radius:5px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#1d4ed8;

}

/* Todo List */

ul{

    list-style:none;

    margin-top:25px;

}
/* Todo Item */

li{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    margin-bottom:10px;
    background:#f9fafb;
    border-radius:5px;

}

/* Delete Button */

.delete-btn{

    background:#ef4444;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;

}
.completed {
    text-decoration: line-through;
    color: rgb(122, 5, 246);
}
li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin:10px 0;
    background:#f3f4f6;
    border-radius:5px;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}